{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="span6">
		<h1>ScrumDo API Example</h1>
		<p>
			This web server is running the Django based ScrumDo API example.  You can <a href="https://github.com/ScrumDoLLC/ScrumDoAPIV2">find out more</a> about the API on our <a href="https://github.com/ScrumDoLLC/ScrumDoAPIV2">Github page</a>.
		</p>
		<p>
			<a href="http://www.scrumdo.com/">ScrumDo</a> is an Agile/Scrum web app to help you manage your software development projects.
		</p>
	</div>
	<div class="span5 well">
		<h1>Authentication <small>via OAuth</small></h1>
		<p>
			This server has already contacted the ScrumDo server and generated a url that you can use to grant access.  Clicking the
			button below will send you there.  
		</p>
			<p><a class="btn btn-success" href="{{ SCRUMDO_LOGIN_URL }}">Authenticate</a> </p>
	</div>
</div>
{% endblock %}